## Simple SVM Model Using Sklearn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
df = pd.read_csv("diabetes_data.csv")

In [11]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [12]:
df.drop('gender', axis=1, inplace=True)

In [13]:
df.drop('smoking_history', axis=1, inplace=True)

In [14]:
df.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
0,80.0,0,1,25.19,6.6,140,0
1,54.0,0,0,27.32,6.6,80,0
2,28.0,0,0,27.32,5.7,158,0
3,36.0,0,0,23.45,5.0,155,0
4,76.0,1,1,20.14,4.8,155,0

### Splitting The Dataset

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
X = df.drop(columns=['diabetes'])  
y = df['diabetes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=777)

In [18]:
X_train.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
50017,6.0,0,0,27.32,6.6,90
56585,43.0,0,0,35.55,6.1,85
32170,80.0,0,0,27.32,3.5,158
56775,33.0,0,0,18.71,6.0,100
26981,80.0,0,0,21.50,5.8,130

In [19]:
X_test.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level
96275,13.0,0,0,27.73,5.8,200
22712,9.0,0,0,18.73,6.0,158
31942,15.0,0,0,20.38,5.7,100
87283,61.0,0,0,27.32,6.1,130
13342,41.0,0,0,25.92,6.6,158

In [20]:
y_train.head()

50017    0
56585    0
32170    0
56775    0
26981    0
Name: diabetes, dtype: int64

### SVM Model

In [21]:
from sklearn.svm import SVC

In [22]:
model = SVC()

In [23]:
model.fit(X_train,y_train)

SVC()

### Prediction and Evaluation

In [24]:
predictions = model.predict(X_test)

In [25]:
from sklearn.metrics import classification_report,confusion_matrix

In [26]:
print(confusion_matrix(y_test,predictions))

[[27448     0]
 [ 1556   996]]

In [27]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     27448
           1       1.00      0.39      0.56      2552

    accuracy                           0.95     30000
   macro avg       0.97      0.70      0.77     30000
weighted avg       0.95      0.95      0.94     30000